<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="heroe.img" class="card-img" alt="...">
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <small class="text-muted">{{ heroe.casa }}</small>
          <hr>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
        </div>
        <div class="card-footer">
            <img *ngIf="heroe.casa == 'DC'" src="assets/img/DC.png" class="img-logo">
            <img *ngIf="heroe.casa != 'DC'" src="assets/img/marvel.jpg" class="img-logo">
        </div>
      </div>
    </div>
  </div>